section.wrap-thumb.thumb1
  
  // Navbar
  .main-nav
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          a.navbar-brand.text-uppercase(href='#') 
            span.text-color Bridal 
            | Studio
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.text-uppercase
            li
              a(href='#')
                | Home 
                span.sr-only (current)
            |             
            li
              a(href='#') Shoes
            li
              a(href='#') Wedding Dress
            li
              a(href='#') Prom Dress
            li
              a(href='#') Promotion
            li
              a(href='#') Contact
        
  .container
    .row
      .col-md-5.left-thumb
        h4.text-uppercase.text-color Hello! We Are
        h1.text-uppercase Bridal Studio
        p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") Gallery
      .col-md-6
        
  .social-group
    a(href="#"): i.fa.fa-facebook.index(aria-hidden='true')
    a(href="#"): i.fa.fa-twitter(aria-hidden='true')
    a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    a(href="#"): i.fa.fa-pinterest-p(aria-hidden='true')
    a(href="#"): i.fa.fa-instagram(aria-hidden='true')
      
section.wrap-thumb.thumb2
  
  // Navbar
  .main-nav
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2', aria-expanded='false')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          a.navbar-brand.text-uppercase(href='#') 
            span.text-color Bridal 
            | Studio
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-2.collapse.navbar-collapse
          ul.nav.navbar-nav.text-uppercase
            li
              a(href='#')
                | Home 
                span.sr-only (current)
            |             
            li
              a(href='#') Shoes
            li
              a(href='#') Wedding Dress
            li
              a(href='#') Prom Dress
            li
              a(href='#') Promotion
            li
              a(href='#') Contact
  
  .container
    .row
      .col-md-5.left-thumb
        h4.text-uppercase.text-color Our Service
        h1.text-uppercase Bridal Shoes
        p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") Shoes
      .col-md-6
        
  .social-group
    a(href="#"): i.fa.fa-facebook.index(aria-hidden='true')
    a(href="#"): i.fa.fa-twitter(aria-hidden='true')
    a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    a(href="#"): i.fa.fa-pinterest-p(aria-hidden='true')
    a(href="#"): i.fa.fa-instagram(aria-hidden='true')
      
section.wrap-thumb.thumb3
  
  // Navbar
  .main-nav
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-3', aria-expanded='false')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          a.navbar-brand.text-uppercase(href='#') 
            span.text-color Bridal 
            | Studio
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-3.collapse.navbar-collapse
          ul.nav.navbar-nav.text-uppercase
            li
              a(href='#')
                | Home 
                span.sr-only (current)
            |             
            li
              a(href='#') Shoes
            li
              a(href='#') Wedding Dress
            li
              a(href='#') Prom Dress
            li
              a(href='#') Promotion
            li
              a(href='#') Contact
  
  .container
    .row
      .col-md-5.left-thumb
        h4.text-uppercase.text-color Our Service
        h1.text-uppercase Bridal Dress
        p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") Shoes
      .col-md-6
        
  .social-group
    a(href="#"): i.fa.fa-facebook.index(aria-hidden='true')
    a(href="#"): i.fa.fa-twitter(aria-hidden='true')
    a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    a(href="#"): i.fa.fa-pinterest-p(aria-hidden='true')
    a(href="#"): i.fa.fa-instagram(aria-hidden='true')
      
section.wrap-thumb.thumb4
  
  // Navbar
  .main-nav
    nav.navbar.navbar-default
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-4', aria-expanded='false')
            span.sr-only Toggle navigation
            |             
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          a.navbar-brand.text-uppercase(href='#') 
            span.text-color Bridal 
            | Studio
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-4.collapse.navbar-collapse
          ul.nav.navbar-nav.text-uppercase
            li
              a(href='#')
                | Home 
                span.sr-only (current)
            |             
            li
              a(href='#') Shoes
            li
              a(href='#') Wedding Dress
            li
              a(href='#') Prom Dress
            li
              a(href='#') Promotion
            li
              a(href='#') Contact
  
  .container
    .row
      .col-sm-5.col-md-5.left-thumb
        h4.text-uppercase.text-color Contact Us
        h1.text-uppercase Bridal Studio
        p
        | Địa chỉ: Tầng 11, 167-169 Điện Biên Phủ,
        br
        | Phường Đa Kao, Quận 1, TPHCM
        br
        | Website: www.bridalstudio.vn
        br
        | Email: hotro@bridalstudio.vn
        br
        | Hotline: 0906 86 00 18

      .col-sm-5.col-md-5.map-wrap.pull-right
        img.map(src="assets/img/home/map.jpg", alt="map")
        
  .social-group
    a(href="#"): i.fa.fa-facebook.index(aria-hidden='true')
    a(href="#"): i.fa.fa-twitter(aria-hidden='true')
    a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    a(href="#"): i.fa.fa-pinterest-p(aria-hidden='true')
    a(href="#"): i.fa.fa-instagram(aria-hidden='true')

    
