doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Bridal
    link(rel="stylesheet" href="assets/css/main.css")
    //- link(rel="stylesheet" href="assets/css/0-tools/onepagescroll.css")
    link(rel="stylesheet" href="assets/css/0-tools/jquery.fullPage.css")
    script(src='assets/js/modernizr.js')
      

  body.ChangeText.index-page
    .fullpage
      .home-wrap
        include jadefiles/header.jade
        .home-sections
            include jadefiles/home/home.jade

    script(src='assets/js/jquery-2.1.4.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js')
    script(src="assets/js/bootstrap.min.js")
    script(src='assets/js/jquery.easing.1.3.js')
    script(src='assets/js/scrollreveal.js')
    script(src='assets/js/scrolloverflow.js')
    script(src='assets/js/examples.js')
    script(src='assets/js/jquery.fullPage.js')
    script(src='assets/js/smooth-scroll.js')
    script(src="assets/js/functions.js")
  
