.btn-accent
  background: $accent-color
  border-radius: 0
  color: $white-color
  font-size: 15px
  font-weight: 600
  padding: 10px 25px
  transition: all .2s ease-in-out

  &:hover
    background: darken($accent-color, 10%)
    color: $white-color
    box-shadow: 2px 2px 5px 3px rgba(black, 0.2)
