%btn
  border-radius: 0
  @extend %font-weight
  padding: 10px 25px
  font-size: 14px
  transition: all .2s ease-in-out

.btn-accent-default
  @extend %btn
  @extend %font-weight
  color: $white-color !important
  background: $accent-color !important


  &:hover
    background: darken($accent-color, 10) !important
    color: $white-color !important

.btn-accent
  @extend %btn
  @extend .font-weight
  background: none
  color: $white-color !important

  &::before
   z-index: -1
   background: $accent-color !important

  &::after
    border-color: $accent-color !important

  &:hover
    color: $accent-color !important

// BTN CART
.btn-cart
  color: $text-color-2
  border-radius: 2px
  padding: 12px 15px
  font-size: 18px
  transition: all .2s ease-in-out

  &:hover
    border-color: $accent-color !important

// Price Tag
.price-reg
  color: $price-reg

.price-sale
  color: $text-color-2
  text-decoration: line-through
  margin-right: 10px

// Social Icon
.social-group
  position: fixed
  left: 5%
  bottom: 5%
  z-index: 10

  i
    padding: 0 10px
    color: $text-color
    font-size: 20px
    transition: all .2s ease-in-out

    &:hover
      color: $accent-color


// Number Button
.wrap-quantity
  display: inline-block

.quantity
  position: relative

.product-detail, .cart-page
  input[type=number]
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
      -moz-appearance: textfield

.quantity input
  width: 80px
  height: 42px
  line-height: 1.65
  float: left
  display: block
  padding: 0
  margin: 0
  padding-left: 20px
  border: 1px solid #eee

  &:focus
    outline: 0

.quantity-nav
  float: left
  position: relative
  height: 42px

.quantity-button
  position: relative
  cursor: pointer
  border-left: 1px solid #eee
  width: 20px
  text-align: center
  color: $accent-color
  font-size: 13px
  font-family: "Trebuchet MS", Helvetica, sans-serif !important
  line-height: 1.7
  -webkit-transform: translateX(-100%)
  transform: translateX(-100%)
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none
  &.quantity-up
    position: absolute
    height: 50%
    top: 0
    border-bottom: 1px solid #eee
  &.quantity-down
    position: absolute
    bottom: -1px
    height: 50%
