.main-nav
  .navbar
    background: none !important
    border: none
    padding-left: 30px
    padding-top: 10px

  .navbar-brand
    font-size: 22px
    color: $white-color
    padding-right: 50px

    .text-color
      @extend .font-weight

  .navbar-nav
    a
      color: $white-color !important
      @extend .font-weight
      font-size: 12px
      transition: all .2s ease-in-out

      &:hover
        color: $accent-color !important

  .navbar-toggle

    &:hover, &:focus
      background: lighten($accent-color, 5%)

    .icon-bar
      background: lighten($accent-color, 20%)
