@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min)
  .wrap-shopping-cart
    top: 70px !important

  .navbar-default
    height: 140px !important

  .navbar-header
    margin: 0 auto !important

  .navbar-nav
    margin: 0 !important
    margin-left: -14px !important

  #bs-example-navbar-collapse-1
    clear: both !important

@media (max-width: $screen-sm-max)
  .shopping-detail
    right: 60px
    left: auto
    top: 60px

@media (max-width: $screen-sm-max - 226)
  .main-nav
    .navbar-nav
      li
        border-bottom: 1px dotted $text-color

        &:last-child
          border: none

      a
        transition: all .2s ease-in-out

      a:hover::after
        width: 0

      a:hover
        padding-left: 25px
        color: $white-color !important

    .navbar-collapse
      background: rgba($accent-color, 0.8)

@media (max-width: $screen-xs-max)
  .wrap-shopping-cart
    top: 5px !important
    right: 50px !important

  .product-home
    margin: 0 !important

  .navbar
    padding: 10px 0 0 !important

  .shopping-detail
    width: 400px !important

  .wrap-cart-1
    margin-top: 10px

    .badge
      position: absolute !important
      left: 43% !important
      right: auto !important

  #Capa_1
    display: inline !important

  #shoppingmenu
    display: inline !important

@media (max-width: 580px)
  .shopping-detail
    top: 100px !important
    right: 0 !important

@media (max-width: 460px)
  .shopping-detail
    width: 360px !important

@media (max-width: 420px)
  .shopping-detail
    width: 340px !important

@media (max-width: 385px)
  .wrap-shopping-cart
    top: 5px !important
    right: 80px !important

  .shopping-detail
    min-width: 300px !important
    right: -50px !important
    width: 330px !important

  #shoppingmenu
    margin: 0 !important

  .navbar-brand
    padding-right: 20px !important

@media (max-width: 360px)
  .shopping-detail
    width: 300px !important
