@media (max-width: $screen-sm-max)
  section.wrap-thumb
    .col-md-5
      margin-left: 0

    .map-wrap
      margin-top: 150px

@media (max-width: $screen-xs-max)
  section.wrap-thumb
    height: auto

    background-size: cover

    .col-md-5
      margin: 100px 0

    .map
      width: 100%

    .left-thumb
      margin-top: 200px


  section.thumb4
    padding: 40px 0

    .col-md-5
      margin: 20px 0

    .social-group
      bottom: 2%
      margin-top: 200px
