@media (max-width: $screen-sm-max) and (min-width: $screen-sm-min)
  header

  .navbar-default
    height: 140px !important

  .navbar-header
    margin: 0 auto !important

  .navbar-nav
    margin: 0 !important
    margin-left: -14px !important

  #bs-example-navbar-collapse-1
    clear: both !important

@media (max-width: $screen-sm-max - 226)
  .main-nav
    .navbar-nav
      li
        border-bottom: 1px dotted $text-color

        &:last-child
          border: none

      a
        transition: all .2s ease-in-out

      a:hover::after
        width: 0

      a:hover
        padding-left: 25px
        color: $white-color !important

    .navbar-collapse
      background: rgba($accent-color, 0.8)

@media (max-width: 385px)
  #shoppingmenu
    margin: 0 !important

  .navbar-brand
    padding-right: 20px !important


@media (max-width: $screen-xs-max)
  .product-home
    margin: 0 !important

  .navbar
    padding: 10px 0 0 !important

  .shopping-detail
    width: 100% !important

  .wrap-shopping-cart

  .wrap-cart-1
    margin-top: 10px

    .badge
      position: absolute !important
      left: 43% !important
      right: auto !important

  #Capa_1
    display: inline !important

  #shoppingmenu
    display: inline !important
