.text-color
  color: $accent-color

.index
  color: $accent-color !important

.open
  border-top: 1px solid $accent-color !important
  width: 100px !important

.close
  border-top: 1px solid $text-color-2
  width: 60px

.left-thumb
  p
    font-size: 13px

  h1

.change-color
  color: $dark-color !important

.change-color-2
  color: $white-color !important
