%font-weight
  font-weight: 600

body, html

  &::-webkit-scrollbar-track
    background: $dark-color
    border-radius: 10px
    box-shadow: inset 0 0 6px rgba(0,0,0,.3)

  &::-webkit-scrollbar
    background: $dark-color
    width: 10px

  &::-webkit-scrollbar-thumb
    background: $accent-color
    box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    border-radius: 10px

.form-control:focus
  box-shadow: none

.text-color
  color: $accent-color
  @extend %font-weight

.text-grey
  color: $text-color-4
  @extend %font-weight

.index
  color: $accent-color !important

.open
  border-top: 1px solid $accent-color !important
  width: 100px !important
  transform: scaleX(1) !important
  right: 0 !important

.close
  border-top: 1px solid $text-color-2
  width: 60px

.reply
  color: $price-reg

  &:hover
    color: $price-reg

.left-thumb
  p
    font-size: 13px

  h1

.change-color
  color: $dark-color !important

.change-color-2
  color: $white-color !important

.box-title
  overflow: hidden
  margin-bottom: 12px

  .cart-title
    display: inline
    position: relative
    @extend %font-weight

    &:after
      display: block
      content: ''
      width: 1000%
      height: 2px
      background: $accent-color
      position: absolute
      top: 50%
      left: 112%

.media
  .media-object
    width: 100px

  .media-left
    padding-right: 15px

  .sub-media
    width: 70px !important

input, textarea
  box-shadow: none !important
  &:focus
    box-shadow: none !important
    border-color: #ccc !important
