$accent-color: #b2984a
$dark-color: #555555
$text-color: #bcbcbc
$text-color-2: #a2a2a2
$text-color-3: #595959
$text-color-4: #777777
$price-reg: #f95959
$black-color: #000
$white-color: #fff
$border-color: #f5f5f5
$border-color-2: #ebebeb
$contact-mes-bg: #252525
$contact-input-bg: #1f1f1f
$contact-footer-bg: #222222
