.wrap-primary
  .container
    .row
      .col-sm-12.col-md-3.sidebar
        .search-box
          form
            .form-group
              input#search.form-control(type='search' placeholder="Search for product")
              button(type='submit'): i.fa.fa-search(aria-hidden='true')
                
        .sidebar-nav
          h3.text-uppercase What We Have
          ul.side-nav.list-unstyled
            li: a(href="#") All we have
            li: a(href="#") Adidas
            li: a(href="#") Channel
            li: a(href="#") Bitis
            li: a(href="#") Louis
            
        .top-sale
          h4.text-uppercase.top-sale-title: strong Top Sale Products
          
          .media
            .media-left
              a(href='#')
                img.media-object(src='assets/img/product/small/small-01.jpg', alt='product')
                  
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Merrick Classic Small Breed
              span.price-reg $29.88
              
          .media
            .media-left
              a(href='#')
                img.media-object(src='assets/img/product/small/small-02.jpg', alt='product')
                  
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Merrick Classic Small Breed
              span.price-sale $37.99
              span.price-reg $31.82
              
          .media
            .media-left
              a(href='#')
                img.media-object(src='assets/img/product/small/small-03.jpg', alt='product')
                  
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Merrick Classic Small Breed
              span.price-reg $30.56
              
          .media
            .media-left
              a(href='#')
                img.media-object(src='assets/img/product/small/small-04.jpg', alt='product')
                  
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Merrick Classic Small Breed
              span.price-reg $30.56
              
          .media
            .media-left
              a(href='#')
                img.media-object(src='assets/img/product/small/small-05.jpg', alt='product')
                  
            .media-body
              a(href="#"): h4.media-heading.text-uppercase Merrick Classic Small Breed
              span.price-reg $30.56
              
        
      .col-sm-12.col-md-9.main-content        
        .row
          .col-md-4.form-group.pull-right
            form
              select.selectpicker.form-control(title='Sort By...')
                option Name
                |   
                option Tag
                |   
                option Price
      
                  
          .clearfix
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="product-detail.html"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="product-detail.html") Fearther Ball Cat Wand
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                    
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product-02.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Kong Cat Wubba Catnip Toy
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
        
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Duck Egg Blue Dog Raincoat
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                  
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Pet Pals Cat Toy With Sisal Post
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                    
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Kong Cat Wubba Catnip Toy
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                    
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Pet E Cake Roll Pet Bed Blueberry Cake 
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                    
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Sushi Catnip Cat Toys Blue Crab
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                    
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Merrick Bunny Cat Costume
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
                    
          .col-xs-12.col-sm-6.col-md-4.product-box
            .thumbnail
              a(href="#"): img.product-pic(src='assets/img/product/product.jpg', alt='product')
              |             
              .caption.text-center
                a.product-name.text-uppercase(href="#") Pet E Cake Roll Pet Bed Blueberry Cake
                |
                p              
                  span.price-sale $37.99
                  span.price-reg $31.82
                |               
                p
                  a.btn.btn-default.btn-cart(href="#"): i.fa.fa-shopping-basket(aria-hidden='true')
        
        .row
          .col-sm-12
            .wrap-pagination.pull-left
              nav(aria-label='Page navigation')
                ul.pagination
                  li
                    a(href='#') 1
                  |     
                  li
                    a(href='#') 2
                  |     
                  li
                    a(href='#') 3
              
            .detail.pull-right.text-right
              p.detail-text Showing 6 of 120 Items
            
