section.contact-header.cart-header.product-home
  
  include ../header.jade
        
  .container
    .row
      .col-md-5.left-thumb
        h1.text-uppercase Cart
        ol.breadcrumb.text-uppercase
          li
            a(href='#') Home
          li.active Cart
  
