section.promotion-primary
  .container
    .row.wrap-promo-content.promo-content-odd
      .col-sm-6.col-md-6
        img.promo-img(src="assets/img/promotion/promotion-01.jpg", alt="promotion")
      .col-sm-5.col-md-5.padding-change-left
        p.promo-date 12.07.2017 - 22.07.2017
        h3.promo-title SALE OFF 80% ALL OUR PRODUCT
        p.promo-text Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
        p.promo-text Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") See More
        
    .row.wrap-promo-content.promo-content-even
      .col-sm-6.col-md-6.col-sm-push-5.col-md-push-5
        img.promo-img(src="assets/img/promotion/promotion-02.jpg", alt="promotion") 
      .col-sm-5.col-md-5.col-sm-pull-6.col-md-pull-6.text-right.padding-change-right
        p.promo-date 12.07.2017 - 22.07.2017
        h3.promo-title SALE OFF 80% ALL OUR PRODUCT
        p.promo-text Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
        p.promo-text Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") See More
        
    .row.wrap-promo-content.promo-content-odd
      .col-sm-6.col-md-6
        img.promo-img(src="assets/img/promotion/promotion-03.jpg", alt="promotion")
      .col-sm-5.col-md-5.padding-change-left
        p.promo-date 12.07.2017 - 22.07.2017
        h3.promo-title SALE OFF 80% ALL OUR PRODUCT
        p.promo-text Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
        p.promo-text Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") See More
        
    .row.wrap-promo-content.promo-content-even
      .col-sm-6.col-md-6.col-sm-push-5.col-md-push-5
        img.promo-img(src="assets/img/promotion/promotion-04.jpg", alt="promotion") 
      .col-sm-5.col-md-5.col-sm-pull-6.col-md-pull-6.text-right.padding-change-right
        p.promo-date 12.07.2017 - 22.07.2017
        h3.promo-title SALE OFF 80% ALL OUR PRODUCT
        p.promo-text Với những cặp đôi yêu nhau, ngày cưới luôn là sự kiện trọng đại nhất trong cuộc đời, đánh dấu sự gắn kết của hai người trong hành trình đi tìm hạnh phúc. Tiếp nối mong muốn đưa các cặp đôi đến với những đối tác danh tiếng hàng đầu về lĩnh vực ngành cưới, từ trang phục, phụ kiện, wedding planner, cũng như các dịch vụ đẳng cấp khác.
        p.promo-text Đây cũng như là một món quà đặc biệt mà Capella Gallery Hall dành tặng riêng cho những cặp đôi sắp kết hôn.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") See More
      
    .row
      .col-sm-12
        .wrap-pagination.pull-left
          nav(aria-label='Page navigation')
            ul.pagination
              li
                a(href='#') 1
              |     
              li
                a(href='#') 2
              |     
              li
                a(href='#') 3
          
