section.contact-mes
  .container
    .row
      h2.text-uppercase.text-center Leave Message
      
      .col-sm-6
        form
          .form-group
            input#exampleInputName1.form-control(type='text', placeholder='Your Name...')
          
          .form-group
            input#exampleInputEmail1.form-control(type='email', placeholder='Your Email...')
              
          .form-group
            input#exampleInputPhone1.form-control(type='tel', placeholder='Your Number...')
              

      .col-sm-6
        form
          .form-group
            textarea#comment.form-control(rows='4' placeholder="Write comment...")

          button.btn.btn-default.btn-block.btn-accent(type='submit') Submit
