footer.contact-footer
  .col-sm-12.col-md-5.social-part
    .social-group
      a(href="#"): i.fa.fa-facebook.index(aria-hidden='true')
      a(href="#"): i.fa.fa-twitter(aria-hidden='true')
      a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
      a(href="#"): i.fa.fa-pinterest-p(aria-hidden='true')
      a(href="#"): i.fa.fa-instagram(aria-hidden='true')
        
  .col-sm-12.col-md-5.copy-part
    .copyright
      p @Copyright 2017. Designed by Eplus
