section.contact-map
  .col-xs-12.col-sm-5.col-md-5.left-contact-map
    
    .wrap-contact-content
      .wrap-text
        h4.text-uppercase Contact Us
        h1.text-uppercase Bridal Studio
        p Địa chỉ: Tầng 11, 167-169 Điện Biên Phủ, 
        p Phường Đa Kao, Quận 1, TPHCM
        p Website: www.bridalstudio.vn
        p Email: hotro@bridalstudio.vn
        p Hotline: 0906 86 00 18
      
  .col-xs-12.col-sm-7.col-md-7.contact-map-box
    img(src="assets/img/contact/map-contact-02.jpg", alt="map")

      
    
