section.product-home
  
  include ../header.jade
        
  .container
    .row
      .col-md-5.left-thumb.header-title
        h1.text-uppercase Loanna
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .col-md-6
  
