section.wrap-thumb.thumb1#thumb1
  
  .container
    .row
      .col-md-5.left-thumb
        h4.text-uppercase.text-color Hello! We Are
        h1.text-uppercase Bridal Studio
        p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") Gallery
      .col-md-6
        
  .social-group
    a(href="#"): i.fa.fa-facebook(aria-hidden='true')
    a(href="#"): i.fa.fa-twitter(aria-hidden='true')
    a(href="#"): i.fa.fa-google-plus(aria-hidden='true')
    a(href="#"): i.fa.fa-pinterest-p(aria-hidden='true')
    a(href="#"): i.fa.fa-instagram(aria-hidden='true')
      
  .direction
    a(href="#thumb1").direct-line.line1.scroll.open
    a(href="#thumb2").direct-line.line2.scroll
    a(href="#thumb3").direct-line.line3.scroll
    a(href="#thumb4").direct-line.line4.scroll
      
section.wrap-thumb.thumb2#thumb2
  
  .container
    .row
      .col-md-5.left-thumb
        h4.text-uppercase.text-color Our Service
        h1.text-uppercase Bridal Shoes
        p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") Shoes
      .col-md-6
        
section.wrap-thumb.thumb3#thumb3
  
  .container
    .row
      .col-md-5.left-thumb
        h4.text-uppercase.text-color Our Service
        h1.text-uppercase Bridal Dress
        p Nhiếp ảnh không chỉ là đam mê bấm máy. Nhiếp ảnh còn là tình yêu và đam mê trong từng khoảnh khắc.
        a.btn.btn-accent.btn-lg.text-uppercase(href="#") Shoes
      .col-md-6
        
section.wrap-thumb.thumb4#thumb4
  
  .container
    .row
      .col-sm-5.col-md-5.left-thumb
        h4.text-uppercase.text-color Contact Us
        h1.text-uppercase Bridal Studio
        p
        | Địa chỉ: Tầng 11, 167-169 Điện Biên Phủ,
        br
        | Phường Đa Kao, Quận 1, TPHCM
        br
        | Website: www.bridalstudio.vn
        br
        | Email: hotro@bridalstudio.vn
        br
        | Hotline: 0906 86 00 18

      .col-sm-5.col-md-5.map-wrap.pull-right
        img.map(src="assets/img/home/map.jpg", alt="map")
      
        

    
