section.product-home
  height: 400px
  background:
    image: url(../img/product/banner-product.jpg)
    size: cover
    attachment: scroll

  .col-md-5
    margin: 50px 0 0 150px

  .navbar
    height: 90px
    background: rgba(black,0.5) !important
    border-radius: 0
    position: relative

  .navbar-nav
    margin-top: 10px

  .navbar-brand
    margin-top: 10px

  .left-thumb
    margin-top: 50px
    margin-left: 130px
    color: $white-color

    &:after
      +line-yellow($accent-color, 95%, 50px, -100%)

    h4, h1
      @extend .font-weight

    h1
      font-size: 45px
      margin-top: 0

    p
      margin: 25px 0
      color: $text-color
      @extend .font-weight
