@media (max-width: $screen-sm-max)
  section.contact-map
    .left-contact-map
      position: relative

    .wrap-text
      position: relative

  footer.contact-footer
    text-align: center
    padding: 60px 0 25px

    .copy-part
      float: none
      margin: 35px 0

      p
        text-align: center
